# What do I need to do for the report?
1. BUild a model - how to build a model?
2. Know how to implement HMM - how?
3. Need to know the structure of data I'm dealing with (decide on pandas or numpy etc) - how?
4. Know how data is stored - how?
5. Extract read counts and store in some form - how?
6. Know how to extract and from where I can extract - how?
7. Think and look up where read counts can be extracted from - how?
8. Look at bam/SAM website & my bam files I have - how?
9. Update my bam files - how?
10. Run my REVISED code (by Clem, just * changed) - how?
11. Go to Beluga and type the command - how?
12. Log into MobaXTerm - how?
13. Bring my diary and type the pwd in - how?
14. Note down the password on my laptop, or I can't access without the diary

In [10]:
import pandas as pd

In [ ]:
fin = "460_ALU_TypeREF_MELT2_GIAB_test-version.csv"

In [ ]:
df = pd.read_csv(fin)
df = df.astype(str)
df

In [ ]:
#df["merged_name"] = "chr" + df["CHR"] + ":" + df["START"] + "-" + df["STOP"]
df["merged_name"] = "chr" + df["CHR"] + ":" + df["START"].str[:6]
df["merged_name2"] = df["merged_name"].str[:10]
df["merged_name3"] = df["merged_name"].str[:9]
df

In [ ]:
df_01 = df[df["GIAB"] == "0/1"]
df_01["merged_name3"].to_csv("GIAB_460_10_loci_3.csv", index=False, header=False)

In [ ]:
df_11 = df[df["GIAB"] == "1/1"]
df_11["merged_name3"].to_csv("GIAB_460_11_loci_3.csv", index=False, header=False)

In [ ]:
df_01

# Part 2

In [15]:
f00 = "GIAB_00_cF260.csv"
f10 = "GIAB_10_cF260.csv"
f11 = "GIAB_11_cF260.csv"

In [16]:
df00 = pd.read_csv(f00, header=None)
df10 = pd.read_csv(f10, header=None)
df11 = pd.read_csv(f11, header=None)
df00 = df00.astype(str)
df10 = df10.astype(str)
df11 = df11.astype(str)
df00

                                    0
0      chr10:2402963-2403297/ 0/0 319
1    chr10:51539308-51539401/ 0/0 155
2    chr10:75969790-75970127/ 0/0 395
3    chr10:79764973-79765218/ 0/0 301
4      chr10:8516524-8516843/ 0/0 324
..                                ...
95    chr9:77503386-77503546/ 0/0 214
96  chrX:113850728-113851049/ 0/0 145
97    chrX:43238081-43238371/ 0/0 138
98    chrX:54290473-54290777/ 0/0 155
99      chrX:6095184-6095515/ 0/0 162

[100 rows x 1 columns]

In [17]:
# split column into multiple columns by delimiter 
df00 = df00[0].str.split(' ', expand=True)
df10 = df10[0].str.split(' ', expand=True)
df11 = df11[0].str.split(' ', expand=True)

df00

df00.columns = ["dir_name", "GIAB_genotype", "cF260_count"]
df10.columns = ["dir_name", "GIAB_genotype", "cF260_count"]
df11.columns = ["dir_name", "GIAB_genotype", "cF260_count"]

df00

                     dir_name GIAB_genotype cF260_count
0      chr10:2402963-2403297/           0/0         319
1    chr10:51539308-51539401/           0/0         155
2    chr10:75969790-75970127/           0/0         395
3    chr10:79764973-79765218/           0/0         301
4      chr10:8516524-8516843/           0/0         324
..                        ...           ...         ...
95    chr9:77503386-77503546/           0/0         214
96  chrX:113850728-113851049/           0/0         145
97    chrX:43238081-43238371/           0/0         138
98    chrX:54290473-54290777/           0/0         155
99      chrX:6095184-6095515/           0/0         162

[100 rows x 3 columns]

In [18]:
df00["cF260_count"] = df00["cF260_count"].astype(int)
df10["cF260_count"] = df10["cF260_count"].astype(int)
df11["cF260_count"] = df11["cF260_count"].astype(int)
df11

                       dir_name GIAB_genotype  cF260_count
0      chr10:10708536-10708860/           1/1          223
1    chr10:128106473-128106799/           1/1          188
2      chr10:20667246-20667579/           1/1          175
3      chr10:26767942-26768263/           1/1          218
4      chr10:32705727-32706075/           1/1          217
..                          ...           ...          ...
231   chrX:112877016-112877360/           1/1          101
232   chrX:119643312-119643638/           1/1          132
233   chrX:135157983-135158330/           1/1           99
234   chrX:138384895-138385237/           1/1           91
235   chrX:145329900-145330223/           1/1          109

[236 rows x 3 columns]

In [20]:
frames = [df00, df10, df11]
df_560 = pd.concat(frames)
# df_560 = pd.concat(frames, keys=["dir_name", "GIAB_genotype", "cF260_count"])
# Remove the '/' at the end of directory name
df_560["dir_name"] = df_560["dir_name"].str.split("/").str[0]
df_560

                     dir_name GIAB_genotype  cF260_count
0       chr10:2402963-2403297           0/0          319
1     chr10:51539308-51539401           0/0          155
2     chr10:75969790-75970127           0/0          395
3     chr10:79764973-79765218           0/0          301
4       chr10:8516524-8516843           0/0          324
..                        ...           ...          ...
231  chrX:112877016-112877360           1/1          101
232  chrX:119643312-119643638           1/1          132
233  chrX:135157983-135158330           1/1           99
234  chrX:138384895-138385237           1/1           91
235  chrX:145329900-145330223           1/1          109

[560 rows x 3 columns]